footer {
    background-color: var(--bs-light);
    color: var(--bs-dark);
    padding: 1rem 0;
    text-align: center;
    margin-top: auto;
}

body.dark footer {
    background-color: var(--bs-dark);
    color: var(--bs-light);
}